<!DOCTYPE html>
<html>
    <head>
        <title>New Chef</title>
        <link rel="stylesheet" href="/stile.css?version=3" />
    </head>
    <body>
        <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
        <h1>Aggiungi uno chef</h1>
        <form th:action="@{/chefs}" method="POST" th:object="${chef}">
        <div>
            Nome: <span><input required type="text" th:field="${chef.nome}"/></span>
        </div>
        <div>
            Cognome: <span><input required type="text" th:field="${chef.cognome}"/></span>
        </div>
        <!--<div>
            Data Di Nascita: <span><input required type="text" th:field="${chef.dataDiNascita}"/></span>
        </div>-->
        <div>
            URL immagine: <span><input type="url" th:field="${chef.urlImage}" /></span>
        </div>
        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
        </form>
    </body>
</html>
